<div class="modal fade" id="ABOUT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">ACI Config Converter</h3>
            </div>
            <div class="modal-body" style="margin:15px">
                <div class="row">
                    <p>
                        Having to migrate basic configurations (such as SNMP, DNS, etc) to a new environment can
                        be repetitive and error prone. Specially if you are migrating your infrastructure to a new
                        environment.
                        With this solution you will be able to configure your APIC controller from your current
                        standalone nexus switches with just a few clicks.
                    </p>
                </div>
                <hr>

                <div class="row">
                    <p>

                        Contacts:
                    </p>
                    <p>

                        Cesar Obediente - cobedien@cisco.com

                        <br/>
                        Santiago Flores - sfloresk@cisco.com

                    </p>


                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <span style="margin:0px 20px 0px 0px;">Free Licensed - <a
                                href="https://wwwin-gitlab-sjc.cisco.com/sfloresk/aci-conf-converter/" target="blank"> Source Code</a></span>
                        <p><span style="margin:0px 20px 0px 0px;">Page built on DJango and Angular JS - Cisco Systems 2017.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>