<div ng-controller="LocationController" style="height: 100%;">
    <div class="nav-side-menu">
        <div class="menu-list">
            <ul id="menu-content" class="menu-content">
                <li ng-click="go('/')">
                    <a href="">
                        <i class="fa fa-home fa-lg"></i> Home
                    </a>
                </li>
                <li ng-click="go('config')">
                    <a href="config"><i class="fa fa-cog fa-lg"></i>Configure ACI</a>
                <li>
            </ul>
        </div>
    </div>
</div>